* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 25px;
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.acoes {
    text-align: center;
    margin-bottom: 15px;
}

.acoes a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #4CAF50;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

a {
    color: #4CAF50;
}